/* CSS Document */

* {
 box-sizing: border-box;
}

@media screen and (max-width: 1100px){
 .show_pc{
  display: none!important;
 }
}
@media screen and (min-width: 1100px){
 .show_sp{
  display: none!important;
 }
}

.inner{
 width: 1100px;
 margin: 0 auto;
}

.outer_box {
 background-color: #f1f1f1;
 border: 1px solid #707070;
 box-shadow: 3px 5px 4px 0px rgba(0,0,0,0.3);
}

.outer_box_title {
 margin: 0;
 background-color: var(--main_color);
 color: #fff;
 font-weight: bold;
 padding: 10px 15px;
 font-size: clamp(16px, 5vw, 25px);
 line-height: 1em;
}
.outer_box_body {
 background-color: #f1f1f1;
 border: none;
 padding: 20px 40px;
 color: #333;
}

/*--- keizokusya ---*/

.keizokusya_itembox_header_label {
 background-color: var(--sub_color);
 padding: 2px 10px;
 border-radius: 15px;
 color: #fff;
 font-size: 0.9em;
}
.keizokusya_itembox_header {
 padding: 10px 0;
}

.keizokusya_itembox_grid{
 display: grid;
 gap: 70px;
 margin-bottom: 50px;
}
.keizokusya_itembox {
 padding: 30px;
 display: grid;
 grid-template-columns: 1fr 200px 320px;
 align-items: center;
 gap: 25px;
 background-color: #fff;
}
.keizokusya_itembox_mihon {
 border: 1px solid #999;
 margin: 40px 40px 80px 40px;
 pointer-events: none;
 position: relative;
}
.keizokusya_itembox_mihon.jimu_itembox {
 grid-template-columns: 1fr 200px 220px;
}

.mihon_title {
 position: absolute;
 top: -30px;
 left: -1px;
 font-size: 40px;
 color: #f00;
 background-color: #fff;
 border: 2px solid #f00;
 padding: 10px 20px;
 line-height: 40px;
}
.mihon_comment{
 font-size: clamp(12px, 3.5vw, 18px);
 color: #f00;
 background-color: #fff;
 border: 2px solid #f00;
 padding: 10px 20px;
 line-height: 20px; 
}
.mihon_comment1{
 position: absolute;
 bottom: 70%;
 left: 38%;
 z-index: 10;
 max-width: 300px;
}
.mihon_comment2{
 position: absolute;
 bottom: -23px;
 right: 2%;
 z-index: 10;
}
.keizokusya_itembox.jimu_itembox {
 grid-template-columns: 1fr 200px 220px;
}
.keizokusya_itembox.dattai {
 background-color: #ccc;
}
.dattai .keizokusya_itembox_right .keizokuitem {
 display: none;
}
.keizokusya_itembox_right .dattaiitem {
 display: none;
}
.dattai .keizokusya_itembox_right .dattaiitem {
 display: block;
}
.dattairiyu_select label {
 display: inline-block;
}
.required_label {
    color: #f00;
    font-size: 0.7em;
}

.keizokusya_infobox {
 background-color: #D6D6D6;
 padding: 10px;
}
.keizokusya_infobox_title {
 display: flex;
 width: 330px;
 margin: 10px auto;
 align-items: center;
 text-align: center;
 gap: 10px;
 max-width: 100%;
 font-size: clamp(12px, 3vw, 16px);
}
.keizokusya_infobox_body {
 background-color: #fff;
 padding: 10px;
 font-size: 13px;
}

.keizokusya_itembox_left {
 display: grid;
}
.keizokusya_name {
 font-size: clamp(16px, 5vw, 25px);
 font-weight: bold;
}

.keizokusya_itembox_center {
 display: grid;
 grid-template-columns: 1fr 1fr;
 gap: 25px;
 align-items: center;
 text-align: center;
 padding: 10px;
}
.keizokusel_button input {
 display: none;
}
.keizokusel_button {
 border: 1px solid #707070;
 padding: 10px;
 display: block;
 cursor: pointer;
 background-color: #fff;
}
.keizokusel_button:has(input:checked) {
 background-color: var(--sub_color);
 color: #fff;
 border: 1px solid var(--sub_color);
}

.keizokusya_kingaku_table {
 width: 100%;
}
.keizokusya_kingaku_table th {
 border: 1px solid #707070;
 font-weight: normal;
 text-align: center;
 padding: 4px 10px;
}
.keizokusya_kingaku_table td {
 border: 1px solid #707070;
 color: #1B4833;
 font-weight: bold;
 text-align: right;
 padding: 10px;
}

.change_nichigaku_box {
 position: relative;
}
.change_nichigaku_title {
 text-align: center;
 background-color: var(--main_color);
 color: #fff;
 padding: 2px;
 cursor: pointer;
}
.change_nichigaku_body_mihon,
.change_nichigaku_body {
 border: 1px solid var(--main_color);
 text-align: center;
 display: grid;
 grid-template-columns: 1fr 1fr;
 gap: 10px;
 padding: 15px 20px;
 position: absolute;
 width: 100%;
 background-color: #fff;
 grid-template-areas:
     "buttonC buttonC"
     "buttonA buttonB";
}
.change_nichigaku_button {
 border: 1px solid #ccc;
 border-radius: 15px;
 cursor: pointer;
}
.change_nichigaku_button:has(input:checked) {
 color: #fff;
 background-color: var(--main_color);
}
.change_nichigaku_button input {
 display: none;
}
.buttonA {
 grid-area: buttonA;
}
.buttonB {
 grid-area: buttonB;
}
.buttonC {
 grid-area: buttonC;
}
.disabled {
 background-color: #ccc!important;
 color: #777!important;
 cursor: default!important;
}

.change_nichigaku_title.nochange {
 background-color: #666;
 font-size: 12px;
}
.change_nichigaku_body.nochange {
 display: block;
 font-size: 14px;
 text-align: left;
 padding: 0 15px;
 border-color: #666;
}

.info_check {
 display: block;
 width: 200px;
 margin: 20px auto;
}

.submit_box {
 display: flex;
 justify-content: center;
 margin: 20px 0;
 gap: 20px;
}
.back_button{
 display: block;
 text-align: center;
 padding: 20px;
 background-color: #ccc;
 color: #222;
 border-radius: 50px;
 cursor: pointer;
 border: none;
 width: min(100%, 130px);
 text-decoration: none;
}
.submit_button {
 display: block;
 text-align: center;
 padding: 20px;
 background-color: var(--sub_color);
 color: #fff;
 border-radius: 50px;
 cursor: pointer;
 border: none;
 /*margin: 0 auto 40px auto;*/
 width: min(100%, 400px);
 text-decoration: none;
}
.submit_button[disabled] {
 background-color: #ccc;
 color: #999;
 box-shadow: none;
}

/*--- kingaku ---*/

.kingaku_box{
 background-color: #fff;
 padding: 30px;
 box-shadow: 3px 5px 4px 0px rgba(0,0,0,0.3);
 margin-bottom: 40px;
}
.keizokusyalist_header {
 border-bottom: 1px solid var(--main_color);
 padding: 5px;
 margin: 5px 0;
 display: grid;
 grid-template-columns: 200px 1fr 100px;
 font-weight: normal;
 font-size: 16px;
}
.keizokusyalist_header.oneline {
 grid-template-columns: 1fr;
}
.keizokusyalist_header_button {
 background-color: var(--main_color);
 color: #fff;
 text-align: center;
 border-radius: 15px;
 cursor: pointer;
}

.table_container{
 container: layout inline-size;
}
.keizokusyalist_table {
 width: 800px;
 max-width: 75vw;
 margin: 20px auto;
 table-layout: fixed;
}
.keizokusyalist_table th {
 font-weight: normal;
 border: 1px solid #707070;
 text-align: center;
 padding: 10px;
}
.keizokusyalist_table td {
 border: 1px solid #707070;
 text-align: center;
 padding: 10px;
 white-space: normal;
 word-wrap: break-word;
}
.keizokusyalist_table th.col_no {
 width: 3em;
 min-width: 3em;
}
.keizokusyalist_table th.col_name {
}
.keizokusyalist_table th.col_kaiinno {
 width: 8em;
 min-width: 8em;
}
.keizokusyalist_table th.col_nichigaku {
 width: 8em;
 min-width: 8em;
}
.keizokusyalist_table th.col_sougaku {
 width: 7em;
 min-width: 7em;
}

.keizokusyalist_table.show_sp {
 width: 100%;
 max-width: 100%;
 margin: 20px 0;
}
.keizokusyalist_table.show_sp th.col_no {
 width: 10%;
}
.keizokusyalist_table.show_sp th.col_name {
 width: 40%;
}
.keizokusyalist_table.show_sp th.col_nichigaku {
 width: 25%;
}
.keizokusyalist_table.show_sp th.col_sougaku {
 width: 25%;
}

.keizokusya_mitsumori_box {
 width: 100%;
 max-width: 600px;
 margin: 0 auto;
 padding: 0 20px;
 display: grid;
 grid-template-columns: 1fr;
 grid-row-gap: 10px;
}
.keizokusya_mitsumori_sougaku {
 display: grid;
 grid-template-columns: 1fr 200px;
 justify-content: space-between;
 background-color: #F3F8F6;
 padding: 20px 40px;
 align-items: center;
}
.keizokusya_mitsumori_sougaku_kingaku {
 text-align: right;
 font-size: 1.5em;
}
.keizokusya_mitsumori_info {
 display: grid;
 grid-row-gap: 5px;
}
.keizokusya_mitsumori_info_line {
 display: grid;
 grid-template-columns: 200px 1fr;
 grid-column-gap: 20px;
 align-items: center;
}
.keizokusya_mitsumori_info_line_title {
 background-color: #F3F8F6;
 text-align: center;
 padding: 5px 0;
}
.keizokusya_mitsumori_info_line_text {
 padding: 5px 0;
}
.keizokusya_mitsumori_addinfo {
 font-size: clamp(9px, 2vw, 14px);
}
.nenko_next {
 width: min(100%, 400px);
 margin: 0 auto;
}
.button {
 display: block;
 text-align: center;
 padding: 20px;
 background-color: var(--sub_color);
 color: #fff;
 border-radius: 50px;
 cursor: pointer;
 border: none;
}
.shiharai_buttons_box {
 display: grid;
 grid-template-columns: 160px 160px;
 grid-column-gap: 50px;
 margin: 30px 0;
 justify-content: center;
}
.shiharai_buttons_box.buttons_furikae{
 grid-template-columns: 160px; 
}
.shiharai_button {
 background-color: #fff;
 border: 1px solid #707070;
 padding: 10px 0;
 border-radius: 25px;
 font-size: 14px;
 box-shadow: 1px 2px 3px 0px #ccc;
 text-align: center;
 cursor: pointer;
}
.shiharai_button:has(input:checked) {
 background-color: var(--main_color);
 color: #fff;
}
.shiharai_button input {
 display: none;
}


.shiharai_card_box{
 padding: 60px 0px;
 width: 860px;
 max-width: 100%;
 margin: 0 auto;
}
.shiharai_box_text {
 margin: 0 auto;
 font-size: 14px;
 width: min(90%, 630px);
}
.shiharai_bank_box{
 padding: 60px 0px;
 width: 860px;
 max-width: 100%;
 margin: 0 auto;
}
.shiharai_furikae_box{
 padding: 20px 0px;
 width: 860px;
 max-width: 100%;
 margin: 0 auto;
}

.card_submit_info{
 color: #f00;
 margin: 1em auto;
 padding: 1em;
 font-weight: normal;
 max-width: 480px;
 text-align: left;
}

@media screen and (max-width: 1100px){
 .inner {
  width: 90%;
 }
 .keizokusya_itembox.jimu_itembox,
 .keizokusya_itembox{
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 10px;
 }
 .outer_box_body{
  padding: 20px 15px;
 }
 .keizokusya_itembox_center{
  padding: 0;
 }
 
 .kingaku_box{
  padding: 10px;
 }
 .keizokusyalist_header {
  padding: 5px 0;
  margin: 5px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
      "title button"
      "info button";
  align-items: center;
 }
 .keizokusyalist_header_title {
  grid-area: title;
  font-size: 14px;
 }
 .keizokusyalist_header_info {
  grid-area: info;
  font-size: 10px;
 }
 .keizokusyalist_header_button {
  grid-area: button;
  font-size: 12px;
 }
 .keizokusyalist_table {
  font-size: 10px;
 }
 .keizokusyalist_table th {
  text-align: center;
  padding: 4px;
 }
 .keizokusyalist_table td {
  text-align: left;
  padding: 4px;
 }

 .keizokusya_mitsumori_box {
  padding: 0 10px;
 }
 .keizokusya_mitsumori_sougaku {
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  font-size: 10px;
 }
 .keizokusya_mitsumori_info_line {
  font-size: 10px;
  grid-template-columns: 80px 1fr;
  grid-column-gap: 10px;
 }
 .shiharai_buttons_box {
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
 }
 
 .keizokusya_itembox_mihon {
  margin: 40px 20px 80px 20px;
 }
 .mihon_comment1 {
  top: auto;
  bottom: 72%;
  left: auto;
  right: 0;
  max-width: 50vw;
 }
 .mihon_comment2 {
  bottom: auto;
  top: 98%;
  right: auto;
  left: 2%;
  width: 96%;
  text-align: center;
 }
 .mihon_title {
  top: -45px;
  left: -1px;
  font-size: 20px;
  padding: 10px 10px;
  line-height: 20px;
 }
}


/* 印刷時 */
@media screen {
 .show_on_print{
  display: none;
 }
 .hide_on_print{
 }
}
@media print {
 .show_on_print{
 }
 .hide_on_print{
  display: none;
 }
}

@scope (.show_on_print) {
 .print_title{
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
 }
 .print_table_sougaku{
  font-size: 16px;
  margin-bottom: 10px;
 }
 .print_table_sougaku th{
  padding: 1em 0;
  text-align: center;
  border: 1px solid #000;
  width: 12em;
 }
 .print_table_sougaku td{
  padding: 1em 0;
  text-align: center;
  border: 1px solid #000;
  width: 12em;
 }
 .print_table_kikan_ninzu{
  font-size: 16px;
  margin-bottom: 20px;
 }
 .print_table_kikan_ninzu th{
  padding: 0.3em 0;
  text-align: center;
  border: 1px solid #000;
  width: 12em;
 }
 .print_table_kikan_ninzu td{
  padding: 0.3em 0;
  text-align: center;
  border: 1px solid #000;
  width: 12em;
 }
 .print_table_kanyusya{
  font-size: 12px;
  margin-bottom: 0px;
  width: 100%;
 }
 .print_table_kanyusya th{
  padding: 0.5em;
  text-align: center;
  border: 1px solid #000;
 }
 .print_table_kanyusya th.small{
  font-size: 0.7em;
 }
 .print_table_kanyusya td{
  padding: 0.5em;
  text-align: center;
  border: 1px solid #000;
 }
 .print_table_kanyusya .left_border_tick{
  border-left-width: 2px;
 }
 .print_table_kanyusya td.name{
  text-align: left;
 }
 .print_table_kanyusya td.kingaku{
  text-align: right;
 }
 .addinfo{
  font-size: 10px;
 }
}
